@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap");
@font-face {
  font-family: ArchitypograPsychodeliqu;
  src: url(../assets/fonts/ArchitypograPsychodeliqu.ttf);
}
@font-face {
  font-family: Xolonium;
  src: url(../assets/fonts/Xolonium-Bold.ttf);
}
body:not(aside) {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  width: 100%;
}
body:not(aside)::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj4KICAgIDxmaWx0ZXIgaWQ9Im5vaXNlIiB4PSIwIiB5PSIwIj4KICAgICAgPGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNjUiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz4KICAgICAgPGZlQmxlbmQgbW9kZT0ic2NyZWVuIi8+CiAgICA8L2ZpbHRlcj4KICAgIDxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBvcGFjaXR5PSIwLjUiLz4KPC9zdmc+);
  height: 100%;
  width: 100%;
  opacity: 0.125;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 5vw 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.body--inactive {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow: hidden;
  border: 2px solid #f82aff;
  padding: 30px 15px;
  line-height: 1;
}

.name--animated {
  display: flex;
  font-family: "ArchitypograPsychodeliqu", sans-serif;
  font-display: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0px 0px 6px #7b0080;
  font-size: 6.3vw;
  color: #fed4ff;
  font-weight: 900;
  padding-bottom: 8px;
  transition: all 100ms ease-in-out;
  margin-bottom: 10px;
  text-decoration: none;
}
.name--animated span:nth-child(1) {
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(2) {
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(3) {
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(4) {
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(5) {
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(6) {
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter6 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(7) {
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter7 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(8) {
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter8 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter8 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(9) {
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter9 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter9 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(10) {
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter10 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter10 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(11) {
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter11 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter11 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(12) {
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter12 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter12 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated span:nth-child(13) {
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes letter13 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes letter13 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.name--animated:hover {
  transition: all 100ms ease-in-out;
  text-shadow: 0px 0px 10px #7b0080;
}

h1 {
  display: none;
}

.nav--cube {
  --width-nav-cube: 80;
  --height-nav-cube: 60;
  --depth-nav-cube: 20;
  height: calc(var(--height-nav-cube) * 1vw);
  width: calc(var(--width-nav-cube) * 1vw);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(10deg);
}
.nav--cube .name--animated {
  font-size: calc(var(--width-nav-cube) * 0.073vw);
}
.nav--cube ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Xolonium", sans-serif;
  font-display: auto;
  width: auto;
  font-size: calc(var(--width-nav-cube) * 0.05vw);
}
.nav--cube ul::before {
  content: "";
  border-top: 3px solid #7b0080;
  border-left: 3px solid #7b0080;
  border-bottom: 3px solid #7b0080;
  width: calc(var(--width-nav-cube) * 0.02vw);
  height: calc(var(--width-nav-cube) * 0.06vw);
  margin-right: calc(var(--width-nav-cube) * 0.01vw);
}
.nav--cube ul::after {
  content: "";
  border-top: 3px solid #7b0080;
  border-right: 3px solid #7b0080;
  border-bottom: 3px solid #7b0080;
  width: calc(var(--width-nav-cube) * 0.02vw);
  height: calc(var(--width-nav-cube) * 0.06vw);
  margin-left: calc(var(--width-nav-cube) * 0.01vw);
}
.nav--cube ul li {
  display: flex;
  flex-direction: center;
  justify-content: center;
}
.nav--cube ul li:nth-of-type(2) {
  width: 3px;
  height: calc(var(--width-nav-cube) * 0.06vw);
  background-color: #7b0080;
  margin: 0 calc(var(--width-nav-cube) * 0.02vw);
}
.nav--cube ul li a {
  display: inline-block;
  text-decoration: none;
}
.nav--cube ul li a img {
  width: calc(var(--width-nav-cube) * 0.05vw);
  height: calc(var(--width-nav-cube) * 0.05vw);
}
.nav--cube ul #contact--link {
  color: #cd00d4;
  height: 100%;
}
.nav--cube ul #contact--link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #7b0080;
          text-decoration-color: #7b0080;
}
.nav--cube ul #contact--link:active {
  color: #f82aff;
  -webkit-text-decoration-color: #cd00d4;
          text-decoration-color: #cd00d4;
}
.nav--cube ul #instagram--link {
  width: 100%;
  height: 100%;
}
.nav--cube__side {
  position: absolute;
  border: 2px solid #c000c7;
}
.nav--cube__side:nth-of-type(1), .nav--cube__side:nth-of-type(2) {
  --coefficient-nav-cube: -0.5;
  height: calc(var(--height-nav-cube) * 1vw);
  width: calc(var(--width-nav-cube) * 1vw);
  transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
}
.nav--cube__side:nth-of-type(2) {
  --coefficient-nav-cube: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav--cube__side:nth-of-type(3), .nav--cube__side:nth-of-type(4) {
  --rotation-nav-cube: 90deg;
  height: calc(var(--height-nav-cube) * 1vw);
  width: calc(var(--depth-nav-cube) * 1vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
}
.nav--cube__side:nth-of-type(4) {
  --rotation-nav-cube: -90deg;
}
.nav--cube__side:nth-of-type(5), .nav--cube__side:nth-of-type(6) {
  --rotation-nav-cube: -90deg;
  height: calc(var(--depth-nav-cube) * 1vw);
  width: calc(var(--width-nav-cube) * 1vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
}
.nav--cube__side:nth-of-type(6) {
  --rotation-nav-cube: 90deg;
}

.main--cube {
  --width-main-cube: 80;
  --height-main-cube: 160;
  --depth-main-cube: 40;
  height: calc(var(--height-main-cube) * 1vw);
  width: calc(var(--width-main-cube) * 1vw);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);
}
.main--cube__side {
  position: absolute;
  border: 2px solid #c000c7;
}
.main--cube__side:nth-of-type(1), .main--cube__side:nth-of-type(2) {
  --coefficient-main-cube: -0.5;
  height: calc(var(--height-main-cube) * 1vw);
  width: calc(var(--width-main-cube) * 1vw);
  transform: translate3d(0, 0, calc(var(--depth-main-cube) * 1vw * var(--coefficient-main-cube)));
}
.main--cube__side:nth-of-type(2) {
  --coefficient-main-cube: 0.5;
  padding: 20px;
}
.main--cube__side:nth-of-type(3), .main--cube__side:nth-of-type(4) {
  --rotation-main-cube: 90deg;
  height: calc(var(--height-main-cube) * 1vw);
  width: calc(var(--depth-main-cube) * 1vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--width-main-cube) * 1vw * -0.5));
}
.main--cube__side:nth-of-type(4) {
  --rotation-main-cube: -90deg;
}
.main--cube__side:nth-of-type(5), .main--cube__side:nth-of-type(6) {
  --rotation-main-cube: -90deg;
  height: calc(var(--depth-main-cube) * 1vw);
  width: calc(var(--width-main-cube) * 1vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--height-main-cube) * 1vw * -0.5));
}
.main--cube__side:nth-of-type(6) {
  --rotation-main-cube: 90deg;
}

.gallery {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 2px solid #f82aff;
  display: flex;
  padding: 10px;
  gap: 10px;
  /* hide two middle */
}
.gallery__column {
  flex-grow: 1;
}
.gallery__column--2, .gallery__column--3 {
  display: none;
}
.gallery__item {
  cursor: pointer;
  margin-bottom: 10px;
  height: auto;
}
.gallery__item figcaption {
  display: none;
}
.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-touch-callout: none;
}

@media only screen and (min-width: 700px) {
  .gallery__column--2 {
    display: block;
  }
  /* show column 2 */
}
@media only screen and (min-width: 1000px) {
  .gallery__column--3 {
    display: block;
  }
  /* show column 3 */
}
.contact {
  display: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #f82aff;
  color: white;
  width: 100%;
  height: 100%;
}

form {
  font-family: "Raleway", sans-serif;
  font-display: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fed4ff;
  width: 100%;
  height: 100%;
}
form label {
  font-size: 2rem;
  text-align: center;
}
form textarea {
  resize: none;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
}
form input:not([type=submit]) {
  width: 100%;
  max-width: 50vw;
  margin-bottom: 20px;
}
form input,
form textarea {
  background-color: transparent;
  border: 2px solid #f82aff;
  color: #fed4ff;
  padding: 5px;
  font-size: 1rem;
}
form input[type=submit],
form textarea[type=submit] {
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
}
form input[type=submit]:active,
form textarea[type=submit]:active {
  border: 2px solid #fed4ff;
}
form input:not([type=submit]):focus,
form textarea:not([type=submit]):focus {
  box-shadow: none;
  border: 2px solid #fed4ff;
  outline: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.lightbox--active {
  opacity: 1;
  pointer-events: all;
}
.lightbox__button {
  width: 10vw;
  margin: auto 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.lightbox__button:focus {
  outline: none;
}
.lightbox__button--left {
  margin-right: 15px;
  margin-left: 10px;
}
.lightbox__button--right {
  margin-left: 15px;
  margin-right: 10px;
}
.lightbox__button--inactive {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.lightbox__button img {
  filter: drop-shadow(0 0 0.2rem #7b0080);
}
.lightbox__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: auto;
  height: auto;
}
.lightbox__figure figcaption {
  margin-top: 10px;
  text-align: center;
  color: #fed4ff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1;
}
.lightbox__figure figcaption i {
  font-size: 1rem;
  line-height: 1.5;
}
.lightbox__image {
  width: auto;
  max-height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
  cursor: zoom-in;
  -webkit-touch-callout: none;
}
.lightbox__image--zoom--wrapper {
  filter: drop-shadow(0 0 0.3rem #7b0080);
  border: 2px solid #c000c7;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  -webkit-touch-callout: none;
}

.zoom--active {
  opacity: 0;
  cursor: zoom-out;
}

@media only screen and (min-width: 600px) {
  form textarea {
    height: 30%;
  }
  form input:not([type=submit]) {
    max-width: 40vw;
  }
  .lightbox__button {
    width: 7vw;
  }
  .lightbox__button--left {
    margin-right: 15px;
    margin-left: 20px;
  }
  .lightbox__button--right {
    margin-left: 15px;
    margin-right: 20px;
  }
  .nav--cube {
    --width-nav-cube: 60;
    --height-nav-cube: 45;
    --depth-nav-cube: 15;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
  }
  .nav--cube__side:nth-of-type(1), .nav--cube__side:nth-of-type(2) {
    --coefficient-nav-cube: -0.5;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
    transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
  }
  .nav--cube__side:nth-of-type(2) {
    --coefficient-nav-cube: 0.5;
  }
  .nav--cube__side:nth-of-type(3), .nav--cube__side:nth-of-type(4) {
    --rotation-nav-cube: 90deg;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--depth-nav-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
  }
  .nav--cube__side:nth-of-type(4) {
    --rotation-nav-cube: -90deg;
  }
  .nav--cube__side:nth-of-type(5), .nav--cube__side:nth-of-type(6) {
    --rotation-nav-cube: -90deg;
    height: calc(var(--depth-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
  }
  .nav--cube__side:nth-of-type(6) {
    --rotation-nav-cube: 90deg;
  }
}
@media only screen and (min-width: 800px) {
  form textarea {
    height: 30%;
  }
  form input:not([type=submit]) {
    max-width: 35vw;
  }
}
@media only screen and (min-width: 1080px) {
  form label {
    font-size: 3rem;
  }
  form textarea {
    font-size: 2rem;
  }
  form input:is([type=submit]) {
    font-size: 3rem;
    padding: 20px 40px;
  }
  form input:not([type=submit]) {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  body:not(aside) {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: 0;
  }
  header {
    justify-content: flex-end;
    align-items: center;
    padding: 0 2.5vw 10vw;
  }
  main {
    padding: 0;
  }
  .lightbox__button {
    width: 3vw;
    max-width: 100px;
  }
  .lightbox__button--left {
    margin-right: 5vw;
    margin-left: 15vw;
  }
  .lightbox__button--right {
    margin-left: 5vw;
    margin-right: 15vw;
  }
  .nav--cube {
    margin: 0;
    --width-nav-cube: 20;
    --height-nav-cube: 15;
    --depth-nav-cube: 5;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
  }
  .nav--cube__side:nth-of-type(1), .nav--cube__side:nth-of-type(2) {
    --coefficient-nav-cube: -0.5;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
    transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
  }
  .nav--cube__side:nth-of-type(2) {
    --coefficient-nav-cube: 0.5;
  }
  .nav--cube__side:nth-of-type(2) .name--animated {
    font-size: calc(var(--width-nav-cube) * 0.075vw);
    margin-bottom: calc(var(--width-nav-cube) * 0.03vw);
  }
  .nav--cube__side:nth-of-type(2) ul {
    font-size: calc(var(--width-nav-cube) * 0.05vw * 1.5);
  }
  .nav--cube__side:nth-of-type(2) ul::before {
    width: calc(var(--width-nav-cube) * 0.02vw * 1.5);
    height: calc(var(--width-nav-cube) * 0.06vw * 1.5);
    margin-right: calc(var(--width-nav-cube) * 0.01vw * 1.5);
  }
  .nav--cube__side:nth-of-type(2) ul::after {
    width: calc(var(--width-nav-cube) * 0.02vw * 1.5);
    height: calc(var(--width-nav-cube) * 0.06vw * 1.5);
    margin-left: calc(var(--width-nav-cube) * 0.01vw * 1.5);
  }
  .nav--cube__side:nth-of-type(2) ul li:nth-of-type(2) {
    height: calc(var(--width-nav-cube) * 0.06vw * 1.5);
    margin: 0 calc(var(--width-nav-cube) * 0.02vw * 1.5);
  }
  .nav--cube__side:nth-of-type(2) ul li img {
    width: calc(var(--width-nav-cube) * 0.05vw * 1.5);
    height: calc(var(--width-nav-cube) * 0.05vw * 1.5);
  }
  .nav--cube__side:nth-of-type(3), .nav--cube__side:nth-of-type(4) {
    --rotation-nav-cube: 90deg;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--depth-nav-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
  }
  .nav--cube__side:nth-of-type(4) {
    --rotation-nav-cube: -90deg;
  }
  .nav--cube__side:nth-of-type(5), .nav--cube__side:nth-of-type(6) {
    --rotation-nav-cube: -90deg;
    height: calc(var(--depth-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
  }
  .nav--cube__side:nth-of-type(6) {
    --rotation-nav-cube: 90deg;
  }
  .main--cube {
    --width-main-cube: 70;
    --height-main-cube: 40;
    --depth-main-cube: 10;
    height: calc(var(--height-main-cube) * 1vw);
    width: calc(var(--width-main-cube) * 1vw);
  }
  .main--cube__side:nth-of-type(1), .main--cube__side:nth-of-type(2) {
    --coefficient-main-cube: -0.5;
    height: calc(var(--height-main-cube) * 1vw);
    width: calc(var(--width-main-cube) * 1vw);
    transform: translate3d(0, 0, calc(var(--depth-main-cube) * 1vw * var(--coefficient-main-cube)));
  }
  .main--cube__side:nth-of-type(2) {
    --coefficient-main-cube: 0.5;
    padding: 20px;
  }
  .main--cube__side:nth-of-type(3), .main--cube__side:nth-of-type(4) {
    --rotation-main-cube: 90deg;
    height: calc(var(--height-main-cube) * 1vw);
    width: calc(var(--depth-main-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--width-main-cube) * 1vw * -0.5));
  }
  .main--cube__side:nth-of-type(4) {
    --rotation-main-cube: -90deg;
  }
  .main--cube__side:nth-of-type(5), .main--cube__side:nth-of-type(6) {
    --rotation-main-cube: -90deg;
    height: calc(var(--depth-main-cube) * 1vw);
    width: calc(var(--width-main-cube) * 1vw);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--height-main-cube) * 1vw * -0.5));
  }
  .main--cube__side:nth-of-type(6) {
    --rotation-main-cube: 90deg;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content auto;
    grid-template-rows: min-content min-content min-content auto;
  }
  form label {
    font-size: 2rem;
    width: auto;
    justify-self: center;
    align-self: end;
  }
  form label:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  form label:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  form label:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  form textarea {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 100%;
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 100%;
    margin: 0;
    font-size: 1.25rem;
  }
  form input[type=text] {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  form input[type=email] {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  form input[type=submit] {
    align-self: center;
    justify-self: center;
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 2rem;
    padding: 10px 30px;
    margin: 0 3vw;
  }
  form input:not([type=submit]) {
    font-size: 1.25rem;
    align-self: center;
    justify-self: center;
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */