// Color shades: https://maketintsandshades.com/#c000c7
// Colors
$purple: #c000c7;
$purple-extra-light: #fed4ff;
$purple-light: #fb80ff;
$purple-medium-light: #f82aff;
$purple-medium-dark: #cd00d4;
$purple-dark: #7b0080;
$purple-extra-dark: #7b0080;

//Opacity transition
$transition: all .3s ease-in-out;

// Fonts
@font-face {
  font-family: ArchitypograPsychodeliqu;
  src: url(../assets/fonts/ArchitypograPsychodeliqu.ttf);
}

@font-face {
  font-family: Xolonium;
  src: url(../assets/fonts/Xolonium-Bold.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300&display=swap');

// Animations
@mixin name-animation {
  @for $i from 1 through 13 {
    span:nth-child(#{$i}) {
      @keyframes letter#{$i} {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(10px);
        }
      }

      animation-name: letter#{$i};
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-delay: (#{-($i*0.3s) - .3s});
      animation-timing-function: ease-in-out;
    }
  }
}

// body
body:not(aside) {
  position: relative;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  width: 100%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj4KICAgIDxmaWx0ZXIgaWQ9Im5vaXNlIiB4PSIwIiB5PSIwIj4KICAgICAgPGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNjUiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz4KICAgICAgPGZlQmxlbmQgbW9kZT0ic2NyZWVuIi8+CiAgICA8L2ZpbHRlcj4KICAgIDxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBvcGFjaXR5PSIwLjUiLz4KPC9zdmc+);
    height: 100%;
    width: 100%;
    opacity: .125;
  }

}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 5vw 0;
  opacity: 1;
  transition: $transition;
}

.body--inactive {
  opacity: 0;
  transition: $transition;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow: hidden;
  border: 2px solid $purple-medium-light;
  padding: 30px 15px;
  line-height: 1;
}

.name--animated {
  @include name-animation;
  display: flex;
  font-family: 'ArchitypograPsychodeliqu', sans-serif;
  font-display: auto;
  user-select: none;
  text-shadow: 0px 0px 6px $purple-dark;
  font-size: 6.3vw;
  color: $purple-extra-light;
  font-weight: 900;
  padding-bottom: 8px;
  transition: all 100ms ease-in-out;
  margin-bottom: 10px;
  text-decoration: none;

  &:hover {
    transition: all 100ms ease-in-out;
    text-shadow: 0px 0px 10px $purple-dark;
  }
}

h1 {
  display: none;
}

.nav--cube {
  --width-nav-cube: 80; //20;
  --height-nav-cube: 60; //15;
  --depth-nav-cube: 20; //5;
  height: calc(var(--height-nav-cube) * 1vw);
  width: calc(var(--width-nav-cube) * 1vw);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(10deg);

  .name--animated {
    font-size: calc(var(--width-nav-cube) * .073vw);
  }

  ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: 'Xolonium', sans-serif;
    font-display: auto;
    width: auto;
    font-size: calc(var(--width-nav-cube) * .05vw);

    &::before {
      content: '';
      border-top: 3px solid $purple-dark;
      border-left: 3px solid $purple-dark;
      border-bottom: 3px solid $purple-dark;
      width: calc(var(--width-nav-cube) * .02vw);
      height: calc(var(--width-nav-cube) * .06vw);
      margin-right: calc(var(--width-nav-cube) * .01vw);
    }

    &::after {
      content: '';
      border-top: 3px solid $purple-dark;
      border-right: 3px solid $purple-dark;
      border-bottom: 3px solid $purple-dark;
      width: calc(var(--width-nav-cube) * .02vw);
      height: calc(var(--width-nav-cube) * .06vw);
      margin-left: calc(var(--width-nav-cube) * .01vw);
    }

    li {
      display: flex;
      flex-direction: center;
      justify-content: center;

      &:nth-of-type(2) {
        width: 3px;
        height: calc(var(--width-nav-cube) * .06vw);
        background-color: $purple-dark;
        margin: 0 calc(var(--width-nav-cube) * .02vw);
      }

      a {
        display: inline-block;
        text-decoration: none;

        img {
          width: calc(var(--width-nav-cube) * .05vw);
          height: calc(var(--width-nav-cube) * .05vw);
        }
      }
    }

    #contact--link {
      color: $purple-medium-dark;
      height: 100%;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $purple-dark;
      }

      &:active {
        color: $purple-medium-light;
        text-decoration-color: $purple-medium-dark;
      }
    }

    #instagram--link {
      width: 100%;
      height: 100%;
    }

  }

  &__side {
    position: absolute;
    border: 2px solid $purple;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      --coefficient-nav-cube: -0.5;
      height: calc(var(--height-nav-cube) * 1vw);
      width: calc(var(--width-nav-cube) * 1vw);
      transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
    }

    &:nth-of-type(2) {
      --coefficient-nav-cube: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      --rotation-nav-cube: 90deg;
      height: calc(var(--height-nav-cube) * 1vw);
      width: calc(var(--depth-nav-cube) * 1vw);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
    }

    &:nth-of-type(4) {
      --rotation-nav-cube: -90deg;
    }

    &:nth-of-type(5),
    &:nth-of-type(6) {
      --rotation-nav-cube: -90deg;
      height: calc(var(--depth-nav-cube) * 1vw);
      width: calc(var(--width-nav-cube) * 1vw);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
    }

    &:nth-of-type(6) {
      --rotation-nav-cube: 90deg;
    }
  }
}

.main--cube {
  --width-main-cube: 80; // 70;
  --height-main-cube: 160; //40;
  --depth-main-cube: 40; //10;
  height: calc(var(--height-main-cube) * 1vw);
  width: calc(var(--width-main-cube) * 1vw);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);

  &__side {
    position: absolute;
    border: 2px solid $purple;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      --coefficient-main-cube: -0.5;
      height: calc(var(--height-main-cube) * 1vw);
      width: calc(var(--width-main-cube) * 1vw);
      transform: translate3d(0, 0, calc(var(--depth-main-cube) * 1vw * var(--coefficient-main-cube)));
    }

    &:nth-of-type(2) {
      --coefficient-main-cube: 0.5;
      padding: 20px;
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      --rotation-main-cube: 90deg;
      height: calc(var(--height-main-cube) * 1vw);
      width: calc(var(--depth-main-cube) * 1vw);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotateY(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--width-main-cube) * 1vw * -0.5));
    }

    &:nth-of-type(4) {
      --rotation-main-cube: -90deg;
    }

    &:nth-of-type(5),
    &:nth-of-type(6) {
      --rotation-main-cube: -90deg;
      height: calc(var(--depth-main-cube) * 1vw);
      width: calc(var(--width-main-cube) * 1vw);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotateX(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--height-main-cube) * 1vw * -0.5));
    }

    &:nth-of-type(6) {
      --rotation-main-cube: 90deg;
    }
  }
}

.gallery {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 2px solid $purple-medium-light;
  display: flex;
  padding: 10px;
  gap: 10px;

  &__column {
    flex-grow: 1;

    &--2,
    &--3 {
      display: none;
    }

  }

  /* hide two middle */
  //&__column--2, &__column--3 { display: none; }

  &__item {
    cursor: pointer;
    margin-bottom: 10px;
    height: auto;

    figcaption {
      display: none;
    }
  }

  &__image {
    object-fit: cover;
    -webkit-touch-callout: none;
  }
}

@media only screen and (min-width: 700px) {
  .gallery__column--2 {
    display: block;
  }

  /* show column 2 */
}

@media only screen and (min-width: 1000px) {
  .gallery__column--3 {
    display: block;
  }

  /* show column 3 */
}

.contact {
  display: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid $purple-medium-light;
  color: white;
  width: 100%;
  height: 100%;
}

form {
  font-family: 'Raleway', sans-serif;
  font-display: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $purple-extra-light;
  width: 100%;
  height: 100%;

  label {
    font-size: 2rem;
    text-align: center;
  }

  textarea {
    resize: none;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
  }

  input:not([type="submit"]) {
    width: 100%;
    max-width: 50vw;
    margin-bottom: 20px;
  }

  input,
  textarea {
    background-color: transparent;
    border: 2px solid $purple-medium-light;
    color: $purple-extra-light;
    padding: 5px;
    font-size: 1rem;

    &[type="submit"] {
      padding: 10px 20px;
      font-size: 2rem;
      cursor: pointer;

      &:active {
        border: 2px solid $purple-extra-light;
      }
    }

    &:not([type="submit"]) {

      &:focus {
        box-shadow: none;
        border: 2px solid $purple-extra-light;
        outline: none;
      }
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: $transition;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__button {
    width: 10vw;
    margin: auto 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: $transition;

    &:focus {
      outline: none;
    }

    &--left {
      margin-right: 15px;
      margin-left: 10px;
    }

    &--right {
      margin-left: 15px;
      margin-right: 10px;
    }

    &--inactive {
      opacity: 0;
      pointer-events: none;
      transition: $transition;
    }

    img {
      filter: drop-shadow(0 0 .2rem $purple-extra-dark);
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: auto;
    height: auto;

    figcaption {
      margin-top: 10px;
      text-align: center;
      color: $purple-extra-light;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1;

      i {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  &__image {
    width: auto;
    max-height: 85vh;
    object-fit: cover;
    transition: $transition;
    cursor: zoom-in;
    -webkit-touch-callout: none;

    &--zoom--wrapper {
      filter: drop-shadow(0 0 .3rem $purple-extra-dark);
      border: 2px solid $purple;
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      -webkit-touch-callout: none;
    }
  }
}

.zoom--active {
  opacity: 0;
  cursor: zoom-out;
}

@media only screen and (min-width: 600px) {
  form {
    textarea {
      height: 30%;
    }

    input:not([type="submit"]) {
      max-width: 40vw;
    }
  }

  .lightbox__button {
    width: 7vw;

    &--left {
      margin-right: 15px;
      margin-left: 20px;
    }

    &--right {
      margin-left: 15px;
      margin-right: 20px;
    }
  }

  .nav--cube {
    --width-nav-cube: 60; //20;
    --height-nav-cube: 45; //15;
    --depth-nav-cube: 15; //5;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);

    &__side {

      &:nth-of-type(1),
      &:nth-of-type(2) {
        --coefficient-nav-cube: -0.5;
        height: calc(var(--height-nav-cube) * 1vw);
        width: calc(var(--width-nav-cube) * 1vw);
        transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
      }

      &:nth-of-type(2) {
        --coefficient-nav-cube: 0.5;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        --rotation-nav-cube: 90deg;
        height: calc(var(--height-nav-cube) * 1vw);
        width: calc(var(--depth-nav-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
      }

      &:nth-of-type(4) {
        --rotation-nav-cube: -90deg;
      }

      &:nth-of-type(5),
      &:nth-of-type(6) {
        --rotation-nav-cube: -90deg;
        height: calc(var(--depth-nav-cube) * 1vw);
        width: calc(var(--width-nav-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
      }

      &:nth-of-type(6) {
        --rotation-nav-cube: 90deg;
      }
    }
  }
}

@media only screen and (min-width: 800px) {

  form {
    textarea {
      height: 30%;
    }

    input:not([type="submit"]) {
      max-width: 35vw;
    }
  }

}

@media only screen and (min-width: 1080px) {

  form {
    label {
      font-size: 3rem;
    }

    textarea {
      font-size: 2rem;
    }

    input {
      &:is([type="submit"]) {
        font-size: 3rem;
        padding: 20px 40px;
      }

      &:not([type="submit"]) {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  body:not(aside) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: 0;
  }

  header {
    justify-content: flex-end;
    align-items: center;
    padding: 0 2.5vw 10vw;
  }

  main {
    padding: 0;
  }

  .lightbox__button {
    width: 3vw;
    max-width: 100px;

    &--left {
      margin-right: 5vw;
      margin-left: 15vw;
    }

    &--right {
      margin-left: 5vw;
      margin-right: 15vw;
    }
  }

  .nav--cube {
    margin: 0;
    --width-nav-cube: 20;
    --height-nav-cube: 15;
    --depth-nav-cube: 5;
    height: calc(var(--height-nav-cube) * 1vw);
    width: calc(var(--width-nav-cube) * 1vw);

    &__side {

      &:nth-of-type(1),
      &:nth-of-type(2) {
        --coefficient-nav-cube: -0.5;
        height: calc(var(--height-nav-cube) * 1vw);
        width: calc(var(--width-nav-cube) * 1vw);
        transform: translate3d(0, 0, calc(var(--depth-nav-cube) * 1vw * var(--coefficient-nav-cube)));
      }

      &:nth-of-type(2) {
        --coefficient-nav-cube: 0.5;

        .name--animated {
          font-size: calc(var(--width-nav-cube) * .075vw);
          margin-bottom: calc(var(--width-nav-cube) * .03vw);
        }

        ul {
          font-size: calc(var(--width-nav-cube) * .05vw * 1.5);

          &::before {
            width: calc(var(--width-nav-cube) * .02vw * 1.5);
            height: calc(var(--width-nav-cube) * .06vw * 1.5);
            margin-right: calc(var(--width-nav-cube) * .01vw * 1.5);
          }

          &::after {
            width: calc(var(--width-nav-cube) * .02vw * 1.5);
            height: calc(var(--width-nav-cube) * .06vw * 1.5);
            margin-left: calc(var(--width-nav-cube) * .01vw * 1.5);
          }

          li {

            &:nth-of-type(2) {
              height: calc(var(--width-nav-cube) * .06vw * 1.5);
              margin: 0 calc(var(--width-nav-cube) * .02vw * 1.5)
            }

            img {
              width: calc(var(--width-nav-cube) * .05vw * 1.5);
              height: calc(var(--width-nav-cube) * .05vw * 1.5);
            }
          }
        }
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        --rotation-nav-cube: 90deg;
        height: calc(var(--height-nav-cube) * 1vw);
        width: calc(var(--depth-nav-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateY(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--width-nav-cube) * 1vw * -0.5));
      }

      &:nth-of-type(4) {
        --rotation-nav-cube: -90deg;
      }

      &:nth-of-type(5),
      &:nth-of-type(6) {
        --rotation-nav-cube: -90deg;
        height: calc(var(--depth-nav-cube) * 1vw);
        width: calc(var(--width-nav-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateX(var(--rotation-nav-cube)) translate3d(0, 0, calc(var(--height-nav-cube) * 1vw * -0.5));
      }

      &:nth-of-type(6) {
        --rotation-nav-cube: 90deg;
      }
    }
  }

  .main--cube {
    --width-main-cube: 70;
    --height-main-cube: 40;
    --depth-main-cube: 10;
    height: calc(var(--height-main-cube) * 1vw);
    width: calc(var(--width-main-cube) * 1vw);

    &__side {

      &:nth-of-type(1),
      &:nth-of-type(2) {
        --coefficient-main-cube: -0.5;
        height: calc(var(--height-main-cube) * 1vw);
        width: calc(var(--width-main-cube) * 1vw);
        transform: translate3d(0, 0, calc(var(--depth-main-cube) * 1vw * var(--coefficient-main-cube)));
      }

      &:nth-of-type(2) {
        --coefficient-main-cube: 0.5;
        padding: 20px;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        --rotation-main-cube: 90deg;
        height: calc(var(--height-main-cube) * 1vw);
        width: calc(var(--depth-main-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateY(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--width-main-cube) * 1vw * -0.5));
      }

      &:nth-of-type(4) {
        --rotation-main-cube: -90deg;
      }

      &:nth-of-type(5),
      &:nth-of-type(6) {
        --rotation-main-cube: -90deg;
        height: calc(var(--depth-main-cube) * 1vw);
        width: calc(var(--width-main-cube) * 1vw);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotateX(var(--rotation-main-cube)) translate3d(0, 0, calc(var(--height-main-cube) * 1vw * -0.5));
      }

      &:nth-of-type(6) {
        --rotation-main-cube: 90deg;
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: min-content min-content min-content auto;

    label {
      font-size: 2rem;
      width: auto;
      justify-self: center;
      align-self: end;

      &:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &:nth-of-type(3) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }
    }

    textarea {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      width: 100%;
      align-self: center;
      justify-self: center;
      width: 90%;
      height: 100%;
      margin: 0;
      font-size: 1.25rem;
    }

    input {
      &[type="text"] {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      &[type="email"] {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &[type="submit"] {
        align-self: center;
        justify-self: center;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        font-size: 2rem;
        padding: 10px 30px;
        margin: 0 3vw;
      }

      &:not([type="submit"]) {
        font-size: 1.25rem;
        align-self: center;
        justify-self: center;
        width: 80%;
      }
    }
  }
}